<table mat-table [dataSource]="dataSource">
  <!-- Nome e Cognome -->
  <ng-container matColumnDef="Nome e Cognome">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Nome e Cognome
    </th>
    <td mat-cell *matCellDef="let impiegato" style="text-align: center">
      {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
    </td>
  </ng-container>

  <!-- Data di Nascita -->
  <ng-container matColumnDef="Data di Nascita">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Data di Nascita
    </th>
    <td mat-cell *matCellDef="let impiegato" style="text-align: center">
      {{ impiegato.d_dataNascita | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <!-- Codice Fiscale -->
  <ng-container matColumnDef="Codice Fiscale">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Codice Fiscale
    </th>
    <td mat-cell *matCellDef="let impiegato" style="text-align: center">
      {{ impiegato.t_codiceFiscale }}
    </td>
  </ng-container>

  <!-- Professione -->
  <ng-container matColumnDef="Professione">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Professione
    </th>
    <td mat-cell *matCellDef="let impiegato" style="text-align: center">
      {{ impiegato.t_professione }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumnsDimessi"
    style="background-color: #d1e7dd"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsDimessi"></tr>
</table>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageIndex]="pageIndex"
  aria-label="Select page"
>
</mat-paginator>
