<h2 style="text-align: center">Reparti</h2>
<hr class="container" />
<div class="container">
  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center; width: 25%">Nome Reparto</th>
        <th style="text-align: center; width: 20%">Posti Letto</th>
        <th style="text-align: center; width: 20%">Posti Disponibili</th>
        <th style="text-align: center; width: 20%">Disponibilità</th>
        <th style="text-align: center; width: 15%">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reparto of reparti$ | async">
        <td style="text-align: center">{{ reparto.t_nome }}</td>
        <td style="text-align: center">{{ reparto.n_postiLettoEffettivi }}</td>
        <td style="text-align: center">
          {{ reparto.n_postiLettoDisponibili }}
        </td>
        <td style="text-align: center">{{ reparto.b_postiLiberi }}</td>
        <td style="text-align: center">
          <a
            routerLink="/ricoveri/{{ reparto.n_id }}"
            style="text-decoration: none"
            title="Ricoveri {{ reparto.t_nome }}"
            ><span class="pi pi-list" style="padding-right: 10px"></span></a
          ><a
            routerLink="/impiegati/{{ reparto.n_id }}"
            style="text-decoration: none"
            title="Impiegati {{ reparto.t_nome }}"
            ><span class="pi pi-users"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container" *ngIf="admin">
    <button class="btn btn-success btn-lg" (click)="add()">
      Aggiungi Reparto
    </button>
    <div *ngIf="aggiungi" style="padding: 50px">
      <app-new-reparto (reparto)="onNewReparto($event)"></app-new-reparto>
    </div>
  </div>
</div>
