<h2 style="text-align: center">Impiegati {{ rep.t_nome }}</h2>
<hr class="container" />
<div class="container">
  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Nome e Cognome</th>
        <th style="text-align: center">Data di Nascita</th>
        <th style="text-align: center">Codice Fiscale</th>
        <th style="text-align: center">Professione</th>
        <th style="text-align: center" *ngIf="admin">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let impiegato of impiegati$ | async">
        <td style="text-align: center">
          {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
        </td>
        <td style="text-align: center">{{ impiegato.d_dataNascita }}</td>
        <td style="text-align: center">{{ impiegato.t_codiceFiscale }}</td>
        <td style="text-align: center">
          {{ impiegato.t_professione }}
        </td>
        <td style="text-align: center" *ngIf="admin">
          <span>
            <a
              routerLink="/impiegati/dimetti/{{ impiegato.n_id }}"
              style="text-decoration: none"
              ><span class="pi pi-sign-out"></span></a
          ></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
