<h2 style="text-align: center">Ricoveri {{ rep.t_nome }}</h2>
<hr class="container" />
<div class="container">
  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Inizio Ricovero</th>
        <th style="text-align: center">Nome Paziente</th>
        <th style="text-align: center">CF Paziente</th>
        <th style="text-align: center">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ricovero of ricoveri$ | async">
        <td style="text-align: center">{{ ricovero.d_inizioRicovero }}</td>
        <td style="text-align: center">
          {{ ricovero.n_paziente.t_nome }} {{ ricovero.n_paziente.t_cognome }}
        </td>
        <td style="text-align: center">
          {{ ricovero.n_paziente.t_codiceFiscale }}
        </td>
        <td style="text-align: center">
          <a routerLink="/paziente" style="text-decoration: none"
            ><span class="pi pi-list" style="padding-right: 10px"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
