<mat-card class="container" style="background-color: #f3f3f3">
  <mat-card-header>
    <mat-card-title style="display: flex; justify-content: center">
      <h1>PAZIENTI</h1>

      <table
        class="example-full-width"
        cellspacing="0"
        *ngIf="filter"
        style="display: flex; position: absolute; right: 10%; top: 0"
      >
        <tr>
          <td>
            <mat-form-field class="input_search">
              <mat-label>Nome</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input_search">
              <mat-label>Cognome</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input_search">
              <mat-label>Data di Nascita</mat-label>
              <input matInput type="date" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input_search">
              <mat-label>Codice Fiscale</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button
        style="right: 2.5%; position: absolute"
        mat-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="search()"
      >
        SEARCH
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Nome e Cognome -->
        <ng-container matColumnDef="Nome e Cognome">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Nome e Cognome
          </th>
          <td mat-cell *matCellDef="let paziente" style="text-align: center">
            {{ paziente.t_nome }} {{ paziente.t_cognome }}
          </td>
        </ng-container>

        <!-- Data di Nascita -->
        <ng-container matColumnDef="Data di Nascita">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Data di Nascita
          </th>
          <td mat-cell *matCellDef="let paziente" style="text-align: center">
            {{ paziente.d_dataNascita | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Codice Fiscale -->
        <ng-container matColumnDef="Codice Fiscale">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Codice Fiscale
          </th>
          <td mat-cell *matCellDef="let paziente" style="text-align: center">
            {{ paziente.t_codiceFiscale }}
          </td>
        </ng-container>

        <!-- Ricoverato -->
        <ng-container matColumnDef="Attualmente Ricoverato">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Attualmente Ricoverato
          </th>
          <td mat-cell *matCellDef="let paziente" style="text-align: center">
            {{ paziente.b_ricoverato }}
          </td>
        </ng-container>

        <!-- Azioni -->
        <ng-container matColumnDef="Azioni">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Ricoveri
          </th>
          <td mat-cell *matCellDef="let paziente" style="text-align: center">
            <a
              routerLink="/ricoveri/paziente/{{ paziente.n_id }}"
              style="text-decoration: none"
              title="Ricoveri {{ paziente.t_cognome }} {{ paziente.t_nome }}"
              ><span class="pi pi-list" style="padding-right: 10px"></span
            ></a>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="background-color: #d1e7dd"
        ></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div>
      <button
        mat-raised-button
        style="background-color: #d1e7dd; margin-top: 30px"
        (click)="add()"
      >
        Aggiungi Paziente
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<!-- <h2 style="text-align: center">Pazienti</h2>
<hr class="container" />
<div class="container">
  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Nome e Cognome</th>
        <th style="text-align: center">Data di Nascita</th>
        <th style="text-align: center">Codice Fiscale</th>
        <th style="text-align: center">Attualmente Ricoverato</th>
        <th style="text-align: center">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paziente of pazienti$ | async">
        <td style="text-align: center">
          {{ paziente.t_nome }} {{ paziente.t_cognome }}
        </td>
        <td style="text-align: center">
          {{ paziente.d_dataNascita | date : "dd/MM/yyyy" }}
        </td>
        <td style="text-align: center">{{ paziente.t_codiceFiscale }}</td>
        <td style="text-align: center">
          {{ paziente.b_ricoverato }}
        </td>
        <td style="text-align: center">
          <a
            routerLink="/ricoveri/paziente/{{ paziente.n_id }}"
            style="text-decoration: none"
            title="Ricoveri {{ paziente.t_cognome }} {{ paziente.t_nome }}"
            ><span class="pi pi-list" style="padding-right: 10px"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <button class="btn btn-success btn-lg" (click)="add()">
      Aggiungi Paziente
    </button>
    <div *ngIf="aggiungi" style="padding: 50px">
      <app-new-paziente (paziente)="onNewPaziente($event)"></app-new-paziente>
    </div>
  </div>
</div> -->
