<mat-card class="container" id="cards-back">
  <mat-card-header>
    <mat-card-title
      class="title"
      style="display: flex; justify-content: center"
    >
      <h1 id="cards-font">IMPIEGATI</h1>
      <span *ngIf="admin">
        <mat-slide-toggle
          *ngIf="checked"
          [checked]="checked"
          [color]="color"
          style="margin-left: 10px"
          (change)="handleChecked()"
        >
          Impiegati Assunti
        </mat-slide-toggle>
        <mat-slide-toggle
          *ngIf="!checked"
          [checked]="checked"
          [color]="color"
          style="margin-left: 10px"
          (change)="handleChecked()"
        >
          Impiegati Dimessi
        </mat-slide-toggle></span
      >

      <div>
        <table class="filter-search" cellspacing="0" *ngIf="filter">
          <app-search
            [check]="checked"
            (responseEvent)="handleResponse($event)"
          ></app-search>
        </table>

        <button
          style="right: 2.5%; position: absolute"
          mat-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="search()"
        >
          SEARCH
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle
      id="cards-font"
      *ngIf="checked"
      style="margin-bottom: 10px"
      >Assunti</mat-card-subtitle
    >
    <mat-card-subtitle
      id="cards-font"
      *ngIf="!checked"
      style="margin-bottom: 10px"
      >Dimessi</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content *ngIf="checked">
    <div class="mat-elevation-z8 example-container" id="div-table">
      <!-- TABLE ADMIN -->
      <table mat-table [dataSource]="dataSource" *ngIf="admin">
        <!-- Nome e Cognome -->
        <ng-container matColumnDef="Nome e Cognome">
          <th
            id="cards-font"
            mat-header-cell
            *matHeaderCellDef
            style="text-align: center"
          >
            Nome e Cognome
          </th>
          <td
            id="cards-font"
            mat-cell
            *matCellDef="let impiegato"
            style="text-align: center"
          >
            {{ impiegato?.t_nome }} {{ impiegato?.t_cognome }}
          </td>
        </ng-container>

        <!-- Data di Nascita -->
        <ng-container matColumnDef="Data di Nascita">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Data di Nascita
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato?.d_dataNascita | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Codice Fiscale -->
        <ng-container matColumnDef="Codice Fiscale">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Codice Fiscale
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato?.t_codiceFiscale }}
          </td>
        </ng-container>

        <!-- Professione -->
        <ng-container matColumnDef="Professione">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Professione
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato?.t_professione }}
          </td>
        </ng-container>

        <!-- Reparto -->
        <ng-container matColumnDef="Reparto">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Reparto
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato?.t_reparto?.t_nome }}
          </td>
        </ng-container>

        <!-- Azioni -->
        <ng-container matColumnDef="Azioni">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Dimissioni
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            <button
              mat-button
              color="warn"
              type="submit"
              (click)="dimettiImp(impiegato.n_id)"
              title="Dimissioni {{ impiegato.t_cognome }} {{
                impiegato.t_nome
              }}"
            >
              Dimetti <span class="pi pi-sign-out"></span>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsAdmin"
          style="background-color: #d1e7dd"
        ></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin"></tr>
      </table>

      <!-- TABLE USER -->
      <table mat-table [dataSource]="dataSource" *ngIf="!admin">
        <!-- Nome e Cognome -->
        <ng-container matColumnDef="Nome e Cognome">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Nome e Cognome
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
          </td>
        </ng-container>

        <!-- Data di Nascita -->
        <ng-container matColumnDef="Data di Nascita">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Data di Nascita
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.d_dataNascita | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Posti Disponibili -->
        <ng-container matColumnDef="Codice Fiscale">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Codice Fiscale
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_codiceFiscale }}
          </td>
        </ng-container>

        <!-- Professione -->
        <ng-container matColumnDef="Professione">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Professione
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_professione }}
          </td>
        </ng-container>

        <!-- Reparto -->
        <ng-container matColumnDef="Reparto">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Reparto
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_reparto.t_nome }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="background-color: #d1e7dd"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="!checked">
    <div
      class="mat-elevation-z8 example-container"
      *ngIf="admin"
      style="overflow: auto"
    >
      <table mat-table [dataSource]="dataSource">
        <!-- Nome e Cognome -->
        <ng-container matColumnDef="Nome e Cognome">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Nome e Cognome
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
          </td>
        </ng-container>

        <!-- Data di Nascita -->
        <ng-container matColumnDef="Data di Nascita">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Data di Nascita
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.d_dataNascita | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <!-- Codice Fiscale -->
        <ng-container matColumnDef="Codice Fiscale">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Codice Fiscale
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_codiceFiscale }}
          </td>
        </ng-container>

        <!-- Professione -->
        <ng-container matColumnDef="Professione">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Professione
          </th>
          <td mat-cell *matCellDef="let impiegato" style="text-align: center">
            {{ impiegato.t_professione }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsDimessi"
          style="background-color: #d1e7dd"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDimessi"></tr>
      </table>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div *ngIf="checked">
      <div *ngIf="admin">
        <button
          mat-raised-button
          style="background-color: #d1e7dd; margin-top: 30px"
          (click)="add()"
        >
          Aggiungi Impiegato
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
