<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome Reparto</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="data.t_nome"
      id="floatingInput"
      required
    />
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Posti Letto</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="data.n_postiLettoEffettivi"
      id="floatingInput"
      value="1"
      min="1"
      required
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    style="background-color: #d1e7dd; height: 58px; width: 100%"
    (click)="onClick()"
  >
    Conferma
  </button>
</div>
