<header style="margin-bottom: 20px">
  <ul>
    <li>
      <img
        style="
          height: 35px;
          width: 35px;
          margin-top: 7px;
          margin-left: 15px;
          margin-right: 15px;
        "
        src="https://cdn-icons-png.flaticon.com/512/1043/1043138.png?w=740&t=st=1684748240~exp=1684748840~hmac=b7ec816c57673c7f89eb672bda9730d8e718499cde7fc857f6b9a57e429ac75b"
        alt="MediCuore"
      />
    </li>
    <li><a routerLink="/reparti">Reparti</a></li>
    <li><a routerLink="/pazienti">Pazienti</a></li>
    <li><a routerLink="/impiegati">Impiegati</a></li>
    <li><a routerLink="/ricoveri/attivi">Ricoveri</a></li>
    <li style="float: right">
      <a routerLink="/login" (click)="clearSession()">Logout</a>
    </li>
  </ul>
</header>
