<mat-card class="container" style="background-color: #f3f3f3">
  <mat-card-header>
    <mat-card-title>
      <h1 style="text-align: center">REPARTI</h1></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Nome Reparto -->
        <ng-container matColumnDef="Nome Reparto">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Nome Reparto
          </th>
          <td mat-cell *matCellDef="let reparto" style="text-align: center">
            {{ reparto.t_nome }}
          </td>
        </ng-container>

        <!-- Posti Letto -->
        <ng-container matColumnDef="Posti Letto">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Posti Letto
          </th>
          <td mat-cell *matCellDef="let reparto" style="text-align: center">
            {{ reparto.n_postiLettoEffettivi }}
          </td>
        </ng-container>

        <!-- Posti Disponibili -->
        <ng-container matColumnDef="Posti Disponibili">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Posti Disponibili
          </th>
          <td mat-cell *matCellDef="let reparto" style="text-align: center">
            {{ reparto.n_postiLettoDisponibili }}
          </td>
        </ng-container>

        <!-- Disponibilità -->
        <ng-container matColumnDef="Disponibilità">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Disponibilità
          </th>
          <td mat-cell *matCellDef="let reparto" style="text-align: center">
            {{ reparto.b_postiLiberi }}
          </td>
        </ng-container>

        <!-- Azioni -->
        <ng-container matColumnDef="Azioni">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Azioni
          </th>
          <td mat-cell *matCellDef="let reparto" style="text-align: center">
            <a
              routerLink="/ricoveri/{{ reparto.n_id }}"
              style="text-decoration: none"
              title="Ricoveri {{ reparto.t_nome }}"
              ><span class="pi pi-list" style="padding-right: 10px"></span></a
            ><a
              routerLink="/impiegati/{{ reparto.n_id }}"
              style="text-decoration: none"
              title="Impiegati {{ reparto.t_nome }}"
              ><span class="pi pi-users"></span
            ></a>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          style="background-color: #d1e7dd"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="admin">
      <button
        mat-raised-button
        style="background-color: #d1e7dd; margin-top: 30px"
        (click)="add()"
      >
        Aggiungi Reparto
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<!-- <h1 style="text-align: center; font-size: xx-large">Reparti</h1>
<hr class="container" />
<div class="container">



</div> -->
<!-- <div *ngIf="aggiungi" style="padding: 50px">
      <app-new-reparto (reparto)="onNewReparto($event)"></app-new-reparto>
    </div> -->
<!--   <table mat-table class="table table-secondary table-hover">
    <thead>
      <tr mat-header-row class="table-success">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 25%"
        >
          Nome Reparto
        </th>
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 20%"
        >
          Posti Letto
        </th>
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 20%"
        >
          Posti Disponibili
        </th>
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 20%"
        >
          Disponibilità
        </th>
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 15%"
        >
          Azioni
        </th>
      </tr>
    </thead>
    <tbody>
      <tr mat-row *ngFor="let reparto of reparti$ | async">
        <td mat-cell *matCellDef style="text-align: center">
          {{ reparto.t_nome }}
        </td>
        <td mat-cell *matCellDef style="text-align: center">
          {{ reparto.n_postiLettoEffettivi }}
        </td>
        <td *matCellDef mat-cell style="text-align: center">
          {{ reparto.n_postiLettoDisponibili }}
        </td>
        <td *matCellDef mat-cell style="text-align: center">
          {{ reparto.b_postiLiberi }}
        </td>
        <td *matCellDef mat-cell style="text-align: center">
          <a
            routerLink="/ricoveri/{{ reparto.n_id }}"
            style="text-decoration: none"
            title="Ricoveri {{ reparto.t_nome }}"
            ><span class="pi pi-list" style="padding-right: 10px"></span></a
          ><a
            routerLink="/impiegati/{{ reparto.n_id }}"
            style="text-decoration: none"
            title="Impiegati {{ reparto.t_nome }}"
            ><span class="pi pi-users"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table> -->
