<h2 style="text-align: center">Pazienti</h2>
<hr class="container" />
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Nome e Cognome</th>
        <th style="text-align: center">Data di Nascita</th>
        <th style="text-align: center">Codice Fiscale</th>
        <th style="text-align: center">Attualmente Ricoverato</th>
        <th style="text-align: center">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paziente of pazienti$ | async">
        <td style="text-align: center">{{ paziente.n_id }}</td>
        <td style="text-align: center">
          {{ paziente.t_nome }} {{ paziente.t_cognome }}
        </td>
        <td style="text-align: center">{{ paziente.d_dataNascita }}</td>
        <td style="text-align: center">{{ paziente.t_codiceFiscale }}</td>
        <td style="text-align: center">
          {{ paziente.b_ricoverato }}
        </td>
        <td style="text-align: center">
          <a
            routerLink="/ricoveri/{{ paziente.n_id }}"
            style="text-decoration: none"
            ><span class="pi pi-list" style="padding-right: 10px"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success btn-lg" (click)="add()">
    Aggiungi Paziente
  </button>
  <div *ngIf="aggiungi">
    <app-new-paziente (paziente)="onNewPaziente($event)"></app-new-paziente>
  </div>
</div>
