<div
  mat-dialog-content
  class="form-floating mb-3, col-auto"
  [formGroup]="newRicovero"
>
  <!-- DATA INIZIO RICOVERO -->
  <mat-form-field>
    <mat-label>Inizio ricovero</mat-label>
    <input
      matInput
      [matDatepicker]="picker1"
      id="floatingInput"
      formControlName="d_inizioRicovero"
      required
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <!-- REPARTO -->
  <mat-form-field>
    <mat-label>Reparto</mat-label>
    <mat-select
      matInput
      formControlName="n_reparto"
      id="floatingSelect"
      required
    >
      <mat-option
        *ngFor="let reparto of reparti$ | async"
        value="{{ reparto.n_id }}"
        >{{ reparto.t_nome }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- PAZIENTE -->
  <mat-form-field>
    <mat-label>Paziente</mat-label>
    <mat-select
      matInput
      formControlName="n_paziente"
      id="floatingSelect"
      required
    >
      <mat-option
        *ngFor="let paziente of pazienti$ | async"
        value="{{ paziente.n_id }}"
        >{{ paziente.t_nome }} {{ paziente.t_cognome }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    style="background-color: #d1e7dd; height: 58px; width: 100%"
    (click)="onClick()"
  >
    Conferma
  </button>
</div>
