<div class="container">
  <h2 style="text-align: center">
    Impiegati
    <a
      routerLink="/impiegati/dimessi"
      style="text-decoration: none"
      *ngIf="admin"
      ><span
        class="pi pi-chevron-circle-right"
        style="padding-left: 10px"
      ></span
    ></a>
  </h2>
  <hr />

  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Nome e Cognome</th>
        <th style="text-align: center">Data di Nascita</th>
        <th style="text-align: center">Codice Fiscale</th>
        <th style="text-align: center">Professione</th>
        <th style="text-align: center">Reparto</th>
        <th style="text-align: center" *ngIf="admin">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let impiegato of impiegati$ | async">
        <td style="text-align: center">
          {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
        </td>
        <td style="text-align: center">{{ impiegato.d_dataNascita }}</td>
        <td style="text-align: center">{{ impiegato.t_codiceFiscale }}</td>
        <td style="text-align: center">
          {{ impiegato.t_professione }}
        </td>
        <td style="text-align: center">
          {{ impiegato.t_reparto.t_nome }}
        </td>
        <td style="text-align: center" *ngIf="admin">
          <button
            type="submit"
            class="btn btn-outline-light"
            (click)="dimettiImp(impiegato.n_id)"
          >
            <span class="pi pi-sign-out"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container" *ngIf="admin">
    <button class="btn btn-success btn-lg" (click)="add()">
      Aggiungi Impiegato
    </button>
  </div>
</div>
