<h2 style="text-align: center">Ricoveri {{ reparto$.t_nome }}</h2>
<hr class="container" />
<div class="container">
  <table class="table table-secondary table-hover">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Inizio Ricovero</th>
        <th style="text-align: center">Nome Paziente</th>
        <th style="text-align: center">CF Paziente</th>
        <th style="text-align: center">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ricovero of ricoveri$ | async">
        <td style="text-align: center">
          {{ ricovero.d_inizioRicovero | date : "dd/MM/yyyy" }}
        </td>
        <td style="text-align: center">
          {{ ricovero.n_paziente.t_nome }} {{ ricovero.n_paziente.t_cognome }}
        </td>
        <td style="text-align: center">
          {{ ricovero.n_paziente.t_codiceFiscale }}
        </td>
        <td style="text-align: center">
          <a
            routerLink="/ricoveri/paziente/{{ ricovero.n_paziente.n_id }}"
            style="text-decoration: none"
            title="Ricoveri {{ ricovero.n_paziente.t_cognome }} {{
              ricovero.n_paziente.t_nome
            }}"
            ><span class="pi pi-list" style="padding-right: 10px"></span
          ></a>
          <span>
            <a
              routerLink="/ricoveri/chiudi/{{ ricovero.n_id }}"
              style="text-decoration: none"
              title="Chiudi Ricovero {{ ricovero.n_paziente.t_cognome }} {{
                ricovero.n_paziente.t_nome
              }}"
              ><span class="pi pi-sign-out"></span></a
          ></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
