<div class="container">
  <h2 style="text-align: center">Impiegati</h2>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr class="table-success">
        <th style="text-align: center">Nome e Cognome</th>
        <th style="text-align: center">Data di Nascita</th>
        <th style="text-align: center">Codice Fiscale</th>
        <th style="text-align: center">Professione</th>
        <th style="text-align: center">Reparto</th>
        <th style="text-align: center">Stato Assunzione</th>
        <th style="text-align: center">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let impiegato of impiegati$ | async">
        <td style="text-align: center">
          {{ impiegato.t_nome }} {{ impiegato.t_cognome }}
        </td>
        <td style="text-align: center">{{ impiegato.d_dataNascita }}</td>
        <td style="text-align: center">{{ impiegato.t_codiceFiscale }}</td>
        <td style="text-align: center">
          {{ impiegato.t_professione }}
        </td>
        <td style="text-align: center">{{ impiegato.t_reparto.t_nome }}</td>
        <td style="text-align: center">{{ impiegato.b_active }}</td>
        <td style="text-align: center">
          <a
            routerLink="/reparti/{{ impiegato.n_id }}"
            style="text-decoration: none"
            ><span class="pi pi-list" style="padding-right: 10px"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-success btn-lg" (click)="add()">
  Aggiungi Impiegato
</button>
